
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:linear-gradient(135deg, #1a1a1a, #000000)
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  
}

.search-input {
  width: 300px;
  padding: 12px 20px;
  border: 2px solid #ddd;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.search-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}





.navbar .search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar .search-container input[type="text"] {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid red;
  border-radius: 20px;
  outline: none;
  background-color: black;
  color: white;
  width: 300px;
  max-width: 100%;
}

.navbar .search-container button {
  margin-left: 10px;
  padding: 5px 15px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar .search-container button:hover {
  background-color: darkred;
}

.navbar .nav-links {
  display: flex;
  gap: 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: color text-decoration 1s;
}

.navbar .nav-links a:hover {
  color: red;
  text-decoration: underline red;
}
@media (max-width: 768px) {
  .navbar {
      flex-wrap: wrap;
      justify-content: center;
  }

  .navbar .search-container {
      flex-grow: 0;
      margin-top: 10px;
      justify-content: center;
  }

  .navbar .nav-links {
      justify-content: center;
      gap: 10px;
  }
}
    
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 18px;
    }
    
    .prev {
        left: 30px;
    }
    
    .next {
        right: 30px;
    }
    
    .prev:hover, .next:hover {
        background-color: rgba(96, 3, 3, 0.8);
    }
  

   .headingSection h2{
       color: rgb(139, 12, 12);
       text-shadow: 2%;
       width: 100%;
       display: flex;
       font-size: 40px; 
       gap: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
       text-align: center;
       justify-content: center;
   } 



   .fa-solid fa-fire{
        padding-top: 10px;
   }
   .headingSection {
    margin-top: 100px;
    justify-content: center;
    text-align: left;
      width: 100%;
      height: 60px;
   }
 .headingSection a{
  text-decoration: none;}

  .slideshow-container {
    width: 85%;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: 400px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 10px red;
    transition: width 1.25s ease-in-out 0.18s;
}

.slides-wrapper {
    display: flex;
    animation: slideInfinite 20s linear infinite;

}

.slide {
    flex: 0 0 100%;
    text-decoration: none;

}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.slideshow-container:hover{
  width: 120%;
}


@keyframes slideInfinite {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); } 
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); } 
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); } 
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); } 
    95% { transform: translateX(-300%); } 
    100% { transform: translateX(0); } 
}

@media (max-width: 768px) {
    .slideshow-container {
        height: 300px;
    }
}
.main-content {
  min-height: 1000px;
}

.hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .hero {
    background-position: 50% 0;
  }
}
.hero:after {
  background-color: rgba(62, 92, 135, 0.3);
  bottom: 0;
  content: "";
  left: -2000%;
  position: absolute;
  right: -2000%;
  top: 0;
  z-index: 1;
}

.hero-container {
  box-sizing: border-box;
  height: auto;
  padding: 30px 50px;
  position: relative;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-duration: 1.2s;
}
@media screen and (min-width: 640px) {
  .hero-container {
    height: 100%;
  }
}
.hero-container p {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 6px;
  opacity: 0.8;
  text-transform: uppercase;
  text-align: left;
}

.hero-button {
  background: rgba(255, 255, 255, 0.8);
  color: #44575b;
  font-size: 24px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 20px 90px;
  text-decoration: none;
}

.hero-title {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 17vw;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 5px 0;
  text-align: left;
  width: 85%;
}
@media screen and (min-width: 640px) {
  .hero-title {
    font-size: 10vw;
  }
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 220px); }
  &:nth-child(5) { left: calc(50% + 440px); }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}
